@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: -0.02em; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }
  body img {
    max-width: 100%; }
  body .logo {
    width: 150px;
    margin-top: 15px; }

article {
  width: 74%; }

aside {
  width: 20%;
  margin-right: 2.5%; }
  aside .asideAll {
    margin: 25px 10px; }
  aside h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding: 10px 0 0 0; }
  aside p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    width: 100%;
    padding: 0 0 13px 0;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.4); }

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6); }
  a:hover {
    color: #FFFFFF;
    text-shadow: 0 0 0.4em #FFFFFF, 0 0 0.7em #FFFFFF; }

.page-header {
  display: flex;
  justify-content: space-between;
  background-color: #231f1f;
  margin: 0 auto;
  padding: 0 80px; }
  .page-header .info, .page-header .info a {
    font-size: 12px;
    margin-top: 20px;
    line-height: 16px;
    color: #FFFFFF; }

.main-nav {
  background-color: #231f1f;
  display: flex;
  padding-left: 3%; }
  .main-nav ul {
    margin: 10px 0 0 0; }
  .main-nav li {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 16px 10px 16px; }

.second-nav {
  display: flex;
  padding-left: 3%;
  background: #d92128; }
  .second-nav ul {
    margin: 0;
    z-index: 1; }
  .second-nav li {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 16px 10px 16px; }
  .second-nav .choose {
    color: #FFFFFF; }

.Setup {
  background-color: #d92128;
  padding: 30px 20px 18px 20px;
  border-radius: 50% 50% 0 0;
  position: relative;
  color: #FFFFFF; }
  .Setup::before {
    left: -20px;
    box-shadow: 7.5px 7.5px 0 7.5px #d92128;
    border-bottom-right-radius: 20px;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 20px;
    background: transparent;
    top: 39px; }
  .Setup::after {
    right: -20px;
    box-shadow: -7.5px 7.5px 0px 7.5px #d92128;
    border-bottom-left-radius: 20px;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 20px;
    background: transparent;
    top: 39px; }

.wanSetup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px; }
  .wanSetup .wanTypeTitle {
    margin-left: 8%; }
  .wanSetup .wanType {
    margin-top: 40px;
    border: 1px solid #231f1f;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-left: 8%; }
    .wanSetup .wanType .wanTypeInfo {
      margin-left: 4%;
      position: absolute;
      background-color: #FFFFFF;
      padding: 10px;
      margin-top: -22px;
      color: #d92128;
      font-weight: 500;
      font-size: 16px; }
    .wanSetup .wanType .wanTypeP {
      margin: 15px 0 0 8.5%;
      font-weight: 400;
      font-size: 14px; }
      .wanSetup .wanType .wanTypeP select, .wanSetup .wanType .wanTypeP input {
        border: 1px solid #231f1f;
        border-radius: 4px;
        outline: none; }
        .wanSetup .wanType .wanTypeP select:focus, .wanSetup .wanType .wanTypeP input:focus {
          border: 1.5px solid #d92128; }
      .wanSetup .wanType .wanTypeP textarea {
        margin: 5px 0 3% 0;
        height: 100px;
        width: 94%;
        border: 1px solid #231f1f;
        border-radius: 4px;
        outline: none; }
        .wanSetup .wanType .wanTypeP textarea:focus {
          border: 1.5px solid #d92128; }
      .wanSetup .wanType .wanTypeP .Connection-Type {
        margin-bottom: 15px; }
        .wanSetup .wanType .wanTypeP .Connection-Type select {
          height: 30px; }
      .wanSetup .wanType .wanTypeP .normalSelect {
        display: flex;
        justify-content: space-between; }
        .wanSetup .wanType .wanTypeP .normalSelect select {
          width: 43.5%;
          height: 30px;
          margin-right: 6%; }
      .wanSetup .wanType .wanTypeP .DNS, .wanSetup .wanType .wanTypeP .WINS, .wanSetup .wanType .wanTypeP .DHCP {
        margin-bottom: 10px; }
      .wanSetup .wanType .wanTypeP .check1 {
        margin-bottom: 25px; }
      .wanSetup .wanType .wanTypeP .radioBox {
        margin: 4% 0 1% 0; }
        .wanSetup .wanType .wanTypeP .radioBox .radio1 {
          margin: 20px 0 0 0; }
      .wanSetup .wanType .wanTypeP .enableClient {
        margin: 30px 0 15px 0; }
      .wanSetup .wanType .wanTypeP .secInp {
        height: 30px; }
      .wanSetup .wanType .wanTypeP .middleTitle {
        background-color: #a1a1a1;
        color: #FFFFFF;
        padding: 5px;
        margin-top: -1%;
        margin-right: 6%;
        border-radius: 5px;
        font-weight: 400;
        font-size: 14px; }
      .wanSetup .wanType .wanTypeP .smlleTitle {
        display: flex;
        justify-content: space-between;
        margin-right: 6%; }
        .wanSetup .wanType .wanTypeP .smlleTitle li {
          display: inline-block;
          width: 19.5%;
          background-color: #a1a1a1;
          color: #FFFFFF;
          padding: 5px;
          border-radius: 5px;
          font-weight: 400;
          font-size: 14px; }
      .wanSetup .wanType .wanTypeP .smlleInp {
        display: flex;
        justify-content: space-between;
        margin-right: 6%; }
        .wanSetup .wanType .wanTypeP .smlleInp input {
          display: inline-block;
          height: 25px;
          width: 19.5%;
          margin: 1% 0 3% 0; }
        .wanSetup .wanType .wanTypeP .smlleInp .deletebutton {
          border: none;
          color: #FFFFFF;
          text-align: center;
          display: inline-block;
          font-size: 14px;
          height: 46px;
          width: 145px;
          cursor: pointer;
          border-radius: 7px;
          text-decoration: none;
          transition-duration: 0.4s;
          margin-top: 4px;
          background-color: #FFFFFF;
          color: #231f1f;
          border: 1.5px solid #a1a1a1;
          margin: 1% 0 3% 0;
          height: 25px;
          width: 19.5%; }
          .wanSetup .wanType .wanTypeP .smlleInp .deletebutton:hover {
            background-color: #d92128;
            color: #FFFFFF;
            border: 0; }

.MTU select {
  margin-right: 5%;
  width: 43.5%;
  height: 30px; }

.secInp2 {
  width: 50%;
  height: 30px; }

.wanTypeTitle, .sub-title {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  background: #d92128;
  border-radius: 10px;
  padding: 8px 20px; }

input[type='radio'],
input[type='checkbox'] {
  accent-color: #231f1f;
  border: 3px solid #FFFFFF; }

.box1, .Shortcut1, .mtu1, .secInp, .Connection-Type select {
  margin-right: 6%;
  width: 43.5%;
  align-self: center; }

.sub-title, .Connection-Type, .normalInp, .MTU, .mtu1, .DNS, .WINS, .DHCP, .check1, .radio1, .enableClient {
  display: flex;
  justify-content: space-between; }

footer {
  background-color: #231f1f;
  text-align: center;
  color: #FFFFFF;
  padding: 1px;
  margin-top: 40px;
  font-size: 8px;
  font-weight: 400; }

.btnBox {
  display: block;
  justify-content: center;
  text-align: center; }
  .btnBox .button {
    background-color: #d92128;
    border: none;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    height: 46px;
    width: 145px;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.5s;
    margin: 5px; }
    .btnBox .button:hover span {
      padding-right: 25px; }
      .btnBox .button:hover span::after {
        opacity: 1;
        right: 0; }
    .btnBox .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s; }
      .btnBox .button span::after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s; }
  .btnBox .button1 {
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    height: 46px;
    width: 145px;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.5s;
    margin: 5px; }
    .btnBox .button1:hover span {
      padding-right: 25px; }
      .btnBox .button1:hover span::after {
        opacity: 1;
        right: 0; }
    .btnBox .button1 span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s; }
      .btnBox .button1 span::after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s; }
  .btnBox .button2 {
    border: none;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    height: 46px;
    width: 145px;
    cursor: pointer;
    border-radius: 7px;
    text-decoration: none;
    transition-duration: 0.4s;
    margin-top: 4px;
    background-color: #FFFFFF;
    color: #231f1f;
    border: 1.5px solid #a1a1a1; }
    .btnBox .button2:hover {
      background-color: #a1a1a1;
      color: #FFFFFF; }
  .btnBox .button3 {
    background-color: #231f1f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    height: 46px;
    width: 145px;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.5s;
    margin: 5px; }
    .btnBox .button3:hover span {
      padding-right: 25px; }
      .btnBox .button3:hover span::after {
        opacity: 1;
        right: 0; }
    .btnBox .button3 span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s; }
      .btnBox .button3 span::after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s; }
  .btnBox .smallbutton {
    border: none;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    height: 46px;
    width: 145px;
    cursor: pointer;
    border-radius: 7px;
    text-decoration: none;
    transition-duration: 0.4s;
    margin-top: 4px;
    background-color: #FFFFFF;
    color: #231f1f;
    border: 1.5px solid #a1a1a1;
    height: 35px;
    width: 100px;
    margin-bottom: 1%; }
    .btnBox .smallbutton:hover {
      background-color: #a1a1a1;
      color: #FFFFFF;
      border: 0; }

.sec-header {
  background-color: #231f1f;
  color: #FFFFFF;
  padding: 0 0 10px 0px; }
  .sec-header img {
    height: 24px;
    width: auto; }
  .sec-header .topNav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 8% 0 8%; }

@media (min-width: 1200px) {
  .sec-header, .mobile-menu {
    display: none; } }
@media (max-width: 1200px) {
  .Setup {
    padding: 0; }
    .Setup ::before, .Setup ::after {
      box-shadow: none; }

  .main-nav, .second-nav, .page-header {
    max-height: 0;
    overflow: hidden;
    position: absolute; }

  #infoIcon {
    opacity: 0; } }
@media (max-width: 992px) {
  #infoIcon {
    opacity: 100; }

  aside {
    display: none; }

  article {
    width: 100%;
    margin-right: 8%; } }
@media (max-width: 805px) {
  .check1 label {
    width: 40%;
    word-wrap: break-word; } }
@media (max-width: 600px) {
  .sub-title, .Connection-Type, .normalInp, .MTU, .mtu1, .DNS, .WINS, .DHCP, .check1, .radio1, .enableClient {
    display: block;
    justify-content: left; }

  .secInp, .Connection-Type select, .mtu1 {
    width: 92%; }

  .Shortcut1 label {
    display: block;
    margin-top: 8%; }

  .secInp2, .mtu1 select {
    width: 100%;
    margin-bottom: 3%; }

  .Connection-Type select {
    margin-bottom: 3%; }

  .DHCP1 {
    width: 70%; }

  .DHCP2 {
    padding-top: 3%; } }
@media (max-width: 375px) {
  .DHCP2 {
    padding-top: 15%; } }

/*# sourceMappingURL=service.css.map */
